<a href="https://colab.research.google.com/github/RamaNahawandi/Airline-Passenger-Satisfaction/blob/main/Rama_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import numpy as np

In [ ]:
url_train = 'https://raw.githubusercontent.com/RamaNahawandi/Airline-Passenger-Satisfaction/main/train.csv'
df_train = pd.read_csv(url_train)

url_test = 'https://raw.githubusercontent.com/RamaNahawandi/Airline-Passenger-Satisfaction/main/test.csv'
df_test = pd.read_csv(url_test)

In [ ]:
frames = [df_train, df_test]
df = pd.concat(frames,ignore_index=True)

In [ ]:
df_train.shape

(103904, 25)

In [ ]:
df_test.shape

(25976, 25)

In [ ]:
df.shape

(129880, 25)

In [ ]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [ ]:
from google.colab import files
df.to_csv('full_data.csv', encoding = 'utf-8-sig') 

files.download('full_data.csv')

In [3]:
url = 'https://raw.githubusercontent.com/fenyx-it-academy/datasets/main/flight_customer_satisfaction.csv'
dff = pd.read_csv(url)

dff.shape

(129880, 24)